body{
    background-color: rgb(184, 251, 218);
    color: #884b4b;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
td{
    text-align: center;
    font-size: 25px;
}
table{
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
tr{
    border: 2px solid black;
}
th{
    border: 2px solid black;
    font-size: 40px;
    background-color: rgb(255, 179, 179);
}