body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(-90deg,yellow,green);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
}
a:hover{
    color: rgb(255, 0, 0);
}
.Island{
    font-family: 'Inter', sans-serif;
    text-align: right;
    margin: 20px;
    padding: 1px;
    border-radius: 20px;
    background:radial-gradient(circle, white, lightblue);
                                /*IN the top box for that header*/
}
nav{
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}