body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(-90deg,yellow,green);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}
.heading{
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
}
a:hover{
    color: rgb(255, 0, 0);
}
.Island{
    font-family: 'Inter', sans-serif;
    text-align: right;
    margin: 20px;
    padding: 1px;
    border-radius: 20px;
    background:radial-gradient(circle, white, rgb(133, 212, 238));
                                /*IN the top box for that header*/
}
nav{
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.logo{
    width: 25px;
    height: 25px;
    border-radius: 40%;
}
img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.image-container {
  text-align: left;
}
img {
  display: block;
  margin-right: auto; 
  margin-left: 0;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    margin-top: 0;
    float: left;
}
.home{
    background: radial-gradient(circle, white, rgb(115, 192, 218));
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    
}
.home-image{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: radial-gradient(circle, white, rgb(178, 222, 237));
}
.Peter{
    text-align: left;
    margin-bottom: 20px;
}